@import url(./reset.css);

body {
  width: 100vw;
  height: 100vh;
  background-image: url(../recursos/imagenes/meteorologia.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-grafico {
  height: 90%;
  width: 45vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 55px;
  background-color: rgb(224, 215, 203);
  box-shadow: -1px 8px 14px 0px rgba(0, 0, 0, 0.75);
}

#myChart {
  backdrop-filter: blur(15px);
}
